.game-container {
    margin-top: 2rem;
}


.game-selections {
    display: grid;
    grid-template-areas:
    "paper scissors"
    "rock rock";
    min-width: 365px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    place-items: center;

    background-image: url(../assets/images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
}

.hidden {
    display: none;
}

.btn-wrapper {
    width: 8rem;
    height:8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.75rem;
}

#wrapper-paper {
    grid-area: paper;
    background: radial-gradient(var(--paper-grad-start), var(--paper-grad-end));
}

#wrapper-scissors {
    grid-area: scissors;
    background: radial-gradient(var(--scissors-grad-start), var(--scissors-grad-end));
}

#wrapper-rock {
    grid-area: rock;
    background: radial-gradient(var(--rock-grad-start), var(--rock-grad-end));
}

#wrapper-blank {
    background-color: #18204271;
}

.paper-btn {
    background-color: white;
    background-image: url(../assets/images/icon-paper.svg);
    background-position: center;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}


.scissors-btn {
    background-color: white;
    background-image: url(../assets/images/icon-scissors.svg);
    background-position: center;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}

.rock-btn {
    background-color: white;
    background-image: url(../assets/images/icon-rock.svg);
    background-position: center;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}

.paper-icon-div {
    background-color: white;
    background-image: url(../assets/images/icon-paper.svg);
    background-position: center;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}


.scissors-icon-div {
    background-color: white;
    background-image: url(../assets/images/icon-scissors.svg);
    background-position: center;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}

.rock-icon-div {
    background-color: white;
    background-image: url(../assets/images/icon-rock.svg);
    background-position: center;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}

.user-results-container {
    display: flex;
    flex-direction: column;
    
}

.user-results-image-container {
    display: flex;
    justify-content: center;
}

