.rules-section {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: reveal 0.5s;
}

.rules-section-hidden {
    display: none;
}

.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rules-header {
    font-family: var(--site-font);
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.close-rules-btn {
    margin-top: 6rem;
    background-image: url(../assets/images/icon-close.svg);
    background-position: center;
    border: none;
    background-color: white;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    margin-bottom: 2rem;
}

@media screen and (width > 800px) and (height > 800px) {


    .rules-section {
        width: 27rem;
        height: fit-content;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        outline: solid 3px black;
    }

    .rules {
        display: block;
    }

    .rules-header {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .rules-svg {
        
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .close-rules-btn {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        margin: 0;
    }
      
      
}

/* keyframes */

@keyframes reveal {
    from{
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hide {
    from{
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}