@import url(sanitize.css);

:root {

  /* site background gradient */
  --radial-grad-start: hsl(214, 47%, 23%);
  --radial-grad-end: hsl(237, 49%, 15%);


  /* selections gradients */
  --scissors-grad-start: hsl(39, 89%, 49%);
  --scissors-grad-end: hsl(40, 84%, 53%);

  --paper-grad-start: hsl(230, 89%, 62%);
  --paper-grad-end: hsl(230, 89%, 65%);

  --rock-grad-start: hsl(349, 71%, 52%);
  --rock-grad-end: hsl(349, 70%, 56%);

  /* text colors */
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);

  /* header outline color */
  --header-outline: hsl(217, 16%, 45%);

  /* font */
  --site-font: 'Barlow Semi Condensed', sans-serif;
  
}

.App {
  background: radial-gradient(var(--radial-grad-start), var(--radial-grad-end));
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px var(--header-outline);
  border-radius: 1rem;
}

.header-container img {
  width: 6rem;
  height: 4rem;
}



